{{> header }}

<header>
    <nav>
        <a href="#">
            <img class="logoHeader" src="https://www.novomatic.com/sites/default/files/2017-05/Logo_N-Shortbrand.png"
                alt="logo">
        </a>

        <ul>
            <li><a href="./loginNovo">Login</a></li>
            <li><a href="./index">Cátalogo</a></li>
        </ul>
    </nav>
</header>
<br>
<body>
<!-- Tarjetas bootstrap -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.novomatic.com/sites/default/files/styles/cabinet_galerie_/public/2021-05/jzoY4YXnNTb7Y85.png?itok=pWUnvH7z"
                    height="250px" class="card-img-top" alt="Máquina 1">
                <div class="card-body">
                    <h5 class="card-title">PANTHERA™ Curve 1.43</h5>
                    <p class="card-text">La potencia y el rendimiento se combinan en este destacado gabinete para
                        mantener a los apostadores al borde de sus asientos.</p>
                    <h5>$50.000.000</h5>
                    <a href="https://web.whatsapp.com/" type="button" class="btn btn d-flex" style="background-color: #023059; color: white;"
                        id="button">Contáctanos</button>
                        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="Icono" width="23px"
                            height="23px">
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.novomatic.com/sites/default/files/styles/cabinet_galerie_/public/2021-05/XRbULQLYWHmGm0X.png?itok=Uavy846r"
                    height="250px" class="card-img-top" alt="Máquina 2">
                <div class="card-body">
                    <h5 class="card-title">LOTUS ROULETTE™ PRO</h5>
                    <p class="card-text">La potencia y el rendimiento se combinan en este destacado gabinete para
                        mantener a los apostadores al borde de sus asientos.</h5>
                    <h5>$65.000.000</h5>
                    <a href="https://web.whatsapp.com/" type="button" class="btn btn d-flex" style="background-color: #023059; color: white;"
                        id="button">Contáctanos</button>
                        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="Icono" width="23px"
                            height="23px">
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.novomatic.com/sites/default/files/styles/cabinet_galerie_/public/2021-05/wj03VLd91prGe6d.png?itok=fzKz9iJH"
                    height="250px" class="card-img-top" alt="Máquina 3">
                <div class="card-body">
                    <h5 class="card-title">NOVOSTAR® SL 1.27</h5>
                    <p class="card-text">La potencia y el rendimiento se combinan en este destacado gabinete para
                        mantener a los apostadores al borde de sus asientos.</p>
                    <h5>$80.000.000</h5>
                    <a href="https://web.whatsapp.com/" type="button" class="btn btn d-flex" style="background-color: #023059; color: white;"
                        id="button">Contáctanos</button>
                        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="Icono" width="23px"
                            height="23px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Segunda fila -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.novomatic.com/sites/default/files/styles/cabinet_galerie_/public/2022-02/Act8qs59CiBXpvT.png?itok=7nFoRRVY"
                    height="250px" class="card-img-top" alt="Máquina 4">
                <div class="card-body">
                    <h5 class="card-title">NOVOMATIC ActionBook™ Compact 1.27</h5>
                    <p class="card-text">La potencia y el rendimiento se combinan en este destacado gabinete para
                        mantener a los apostadores al borde de sus asientos.</p>
                    <h5>$100.000.000</h5>
                    <a href="https://web.whatsapp.com/" type="button" class="btn btn d-flex" style="background-color: #023059; color: white;"
                        id="button">Contáctanos</button>
                        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="Icono" width="23px"
                            height="23px">
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.novomatic.com/sites/default/files/styles/cabinet_galerie_/public/2021-05/jzoY4YXnNTb7Y85.png?itok=pWUnvH7z"
                    height="250px" class="card-img-top" alt="Máquina 2">
                <div class="card-body">
                    <h5 class="card-title">LOTUS ROULETTE™ PRO</h5>
                    <p class="card-text">La potencia y el rendimiento se combinan en este destacado gabinete para
                        mantener a los apostadores al borde de sus asientos.</h5>
                    <h5>$65.000.000</h5>
                    <a href="https://web.whatsapp.com/" type="button" class="btn btn d-flex" style="background-color: #023059; color: white;"
                        id="button">Contáctanos</button>
                        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="Icono" width="23px"
                            height="23px">
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.novomatic.com/sites/default/files/styles/cabinet_galerie_/public/2021-05/wj03VLd91prGe6d.png?itok=fzKz9iJH"
                    height="250px" class="card-img-top" alt="Máquina 3">
                <div class="card-body">
                    <h5 class="card-title">NOVOSTAR® SL 1.27</h5>
                    <p class="card-text">La potencia y el rendimiento se combinan en este destacado gabinete para
                        mantener a los apostadores al borde de sus asientos.</p>
                    <h5>$80.000.000</h5>
                    <a href="https://web.whatsapp.com/" type="button" class="btn btn d-flex" style="background-color: #023059; color: white;"
                        id="button">Contáctanos</button>
                        <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="Icono" width="23px"
                            height="23px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>