{{> header }}
<body>
    <div class="contenedor">
        <header>
            <nav>
                <a href="#">
                    <img class="logoHeader" src="https://www.novomatic.com/sites/default/files/2017-05/Logo_N-Shortbrand.png" alt="logo">
                </a>

                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">C치talogo</a></li>
                </ul>
            </nav>
        </header>

        <div class="contenedor-formulario">
            <div>
                <img class="logoLogin" src="https://www.novomatic.com/sites/default/files/2017-05/Logo_N-Shortbrand.png" alt="logo">
            </div>
           <p class="tituloLogin">Establecer nueva contrase침a</p>

            <form action="" id="formulario">
                <input  type="text" id="pass1" placeholder="Nueva contrase침a" required>
                <input type="text" id="pass2" placeholder="Repetir contrase침a" required>
                
                <input type="submit" value="Enviar">
            </form>
<!--             <p id="mensaje">Todos los campos son obligatorios </p> -->
        </div>
    </div>

    <script type="text/javascript">
        const correo = document.querySelector('#pass1');
        const password = document.querySelector('#pass2');
        const formulario = document.querySelector('#formulario');

        formulario.addEventListener('submit', validarDatos);

        function validarDatos(){
            if(correo.value === '' || password.value === ''){
                alert('Todos los campos son obligatorios')
            }else{
                alert(document.location.replace = 'loginNovotic_sinEstilo/loginNovo.html');
                // window.location.replace ("https://www.google.com");
                // location.replace = 'loginNovotic_sinEstilo/loginNovo.html''
            }
        }


    </script>

</body>
</html> 