
*{
    list-style: none;
    text-decoration: none !important;
}

#imgLogo{
    background-color: white;
    border-radius: 50%;
}

header{
    background-color: #021F59;
}

.hover-header:hover{
    background-color: #41AED9;
    width: 100% !important;
    text-align: center;
}

@media (min-width: 992px){
    .hover-header:hover{
        background-color: #021F59;
        width: 100% !important;
        text-align: center;
    }
}

aside{
    background-color: #F2F2F2;
    
}
aside ul a{
    color: #000;
    background-color: #fff;
}
aside ul a:hover{
    background-color: #41AED9;
    color:#fff;
}
section{
    
    background-color: rgb(255, 255, 255);
}


.btn-styles{
    background-color: #021F59;
}



